.card {
  position: relative;
  background: #ffffff;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  margin-top: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem;
  width: fit-content;
  cursor: pointer;
  width: 40%;
  transition: 0.5s all ease-in-out;
  img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }
  &-bottom {
    padding: 1rem 2rem;
  }
}
p {
  margin-top: 1rem;
}

.card:hover {
  transform: scale(1.025);
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
}
button {
  padding: 0.5rem 1rem;
  background: rgb(6, 175, 197);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
}
