.loading {
  margin: 0 auto;
  height: 50rem;
  width: 50rem;
  display: grid;
  place-items: center;
}
.circle {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 4px solid #00303d;
  animation: 1.5s animloader14 ease-in-out infinite;
}
// @keyframes disappear {
//   0% {
//     height: 25%;
//     width: 25%;
//     opacity: 0;
//   }
//   50% {
//     height: 40%;
//     width: 40%;
//     opacity: 0.6;
//   }
//   60% {
//     height: 40%;
//     width: 40%;
//   }
//   90% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0;
//   }
// }

@keyframes animloader14 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
