*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  letter-spacing: 1px;
}
.cards-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.hero {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 10rem;
  font-size: 2.75rem;
}
footer {
  padding: 5rem;
  background: #222;
  color: #fcf;
  text-align: center;
  h3 {
    font-size: 2rem;
  }
}
